dcc042-robotica-movel
aulas
TP1.pdf
*.exe
*.Ink
*.txt
delete
UFMG_relatorios_documentacoes
UFMG_relatorios_documentacoes.zip
__pycache__
trash
.github
python
sim.py
*.dll
simConst.py
TODO.md
*.ttt
TP2.pdf
*.zip
!cave-PioneerP3DX.ttt
!cave-robotino.ttt
!paredes-PioneerP3DX.ttt
!paredes-robotino.ttt
